.mainClass {
    max-width: 600px;
    margin: auto;
}

.submitVal {
    background-color: green;
    padding: 10px;
    border-radius: 10px;;
    color:#fff;
    width: 50%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    padding: 30px;
    background-color:rgb(206, 248, 151)
}

form {
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    border: 5px outset rgb(97, 172, 83);
}

input {
    font-size: 15px;
    padding: 10px;
    width: 95%;
    margin: 10px 0px;
}

button {
    cursor: pointer;
}

.submit-b {
    background-color: rgb(89, 89, 255);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 50%;
    margin-top: 10px;
    padding: 20px
}

.back-b {
    border: none;
    border-radius: 10px;
    background-color: inherit;
    font-size: large;
    padding: 0px 20px;
}

.error {
    display:none;
    color: red;
    margin-bottom: 20px;
}

.product {
    display:flex;
    flex-wrap:wrap;
    max-width: 1200px;
    margin:auto;
}

.box {
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    background: white;
    border: 5px outset rgb(97, 172, 83);
    border-radius: 10px;
}

.box img {
    width: 100%
}

.indexError {
    font-size: 30px;
    color: red;
    background-color: #fff;
    padding: 30px;
    margin:auto;
    border: 1px solid red ;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    padding: 20px;
}

.img-detail {
    max-width: 300px;
}

nav li {
    display: inline-block;
}

li {
    list-style: none;
    padding: 5px 20px;
}

ul {
    padding: 0px
}

p {
    line-height:1.5em;
}

.h3-detail {
    padding: 20px 0px;
}

.ingredients-detail {
    text-align: center;
}

nav {
    padding: 10px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}

hr {
border: 10px solid rgb(97, 172, 83);
border-radius: 10px;
}

/* From https://loading.io/css/ */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  